:root {
    --c-black: black;
    --c-white: white;

    --p1: .2rem;
    --tr: .3s;
}

html, body {
    margin: 0;
    padding: 0;
}

#header-main {
    color: var(--c-white);
    background-color: var(--c-black);
    padding: var(--p1);
}

main {
    min-height: 83.7vh;
}

#footer-main {
    color: var(--c-white);
    background-color: var(--c-black);
    position: sticky;
    bottom: 0;

    text-align: center;
}

h1 {
    margin: 0;
}

button {
    cursor: pointer;
    
    color: var(--color, var(--c-black));
    background-color: var(--bgColor, var(--c-white));
    width: fit-content;

    transition: var(--tr);
}

button:hover {
    color: var(--bgColor, var(--c-white));
    background-color: var(--color, var(--c-black));
}