.flight-component {
    width: 50%;
}

.seat-reservation {
    display: flex;
    justify-content: space-between;
}

.seat-reservation > * {
    flex: 1 1 10rem;
}

ul {
    list-style: none;
    padding: 0;
}

ul.seats-list {
    max-height: 50vh;
    overflow-y: auto;
}

ul.seats-row-list {
    display: flex;
}

nav.buttons {
    display: flex;
    justify-content: center;
}

button {
    width: 10rem;
    margin: 0 var(--p1);
}

dialog > button {
    width: 100%;
}