article {
    padding: var(--pad-sm);
}

dl div {
    color: var(--c-grey);

    display: flex;
    align-items: center;

    dt {
        min-width: 7%;
        max-width: 10%;
        flex-grow: 1;
    }

    dd {
        margin: 0;
        flex-grow: 9;
    }
}