---
import SiteLayout from '../../layouts/Site.astro';
import { getCollection } from 'astro:content';
import BlogEntriesFilter from '../../components/blog/blog-entry-filter.svelte';
import type { BlogEntryData } from '../../types/blog.entry.data';

const posts = await getCollection('posts');
const data = posts.map(x => {
    const d: BlogEntryData = {
        title: x.data.title,
        tags: x.data.tags,
        urlPath: `/blog/${x.id}`
    }

    return d;
});
---
<SiteLayout>
    <BlogEntriesFilter entriesData={data} client:visible />
</SiteLayout>