---
import Flights from '../components/svelte/Flights.svelte';
import Layout from '../layouts/Layout.astro';
// const url = Astro.url;
---

<Layout stylesheets={['css/components/flight.css', 'css/components/flights.css']}>
	<Flights client:only="svelte" />
</Layout>