button, input[type=submit] {
    cursor: pointer;
    outline: none;
    /* transition: .3s; */

    color: var(--color, var(--c-black));
    background-color: var(--bgColor, var(--c-white));
    border: 2px solid var(--borderColor, var(--c-black));
    width: 4rem;
}

button:hover,
input[type=submit]:hover,
input[type=submit]:focus {
    color: var(--color, var(--c-white));
    background-color: var(--bgColor, var(--c-black));
    border: 2px solid var(--borderColor, var(--c-black));
}