::selection {
    color: var(--c-green-l1);
    background: var(--c-black);
}

* {
    transition: .3s;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--c-black);
    font-size: 1.2rem;
}

section {
    padding: var(--pad-sm);
}

h2 {
    font-size: 2rem;
}

p {
    text-align: justify;
}

a {
    color: var(--c-green-d2);
}

a:hover {
    color: var(--c-orange-d1);
}