#site-header {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--pad-sm);

    height: var(--header-height);

    background-color: var(--c-black);
    color: var(--c-white);
    
    opacity: .93;

    box-shadow: 2px 2px 4px var(--c-black);

    .headhome {
        text-decoration: none;
    }

    h1 {
        margin: 0;
        color: var(--c-white-d1);
    }

    h1:hover {
        cursor: pointer;
        text-shadow: 2px 2px 3px var(--c-green);
    }

    nav {
        width: 20%;
        
        ul {
            list-style: none;
            display: flex;
            justify-content: flex-end;

            li {
                padding-left: var(--pad-sm);

                a {
                    color: var(--c-white-d1);
                    text-decoration: dashed;
                    font-size: 1.2rem;
                }

                a:hover {
                    color: var(--c-green);
                }
            }
        }
    }
}

main {
    min-height: 90%;
    background: linear-gradient(to bottom, var(--c-white-d1), var(--c-white-d2));
}

#site-footer {
    background-color: var(--c-black);
    color: var(--c-white);
    text-align: center;
    font-style: italic;
    height: var(--footer-height);
    width: 100%;
}